<html>
    <head>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!-- count particles -->
        <div class="count-particles">
            <span class="js-count-particles">--</span> particles
        </div>
        
        <!-- particles.js container -->
        <div id="particles-js">
            <h1 class="greet-msg">Welcome to the Asio Server made by ThreadedStream</h1>
        </div>
        <script src="particles.js"></script>
        <script src="main.js" type="text/javascript"></script>

        <script>
            count_particles = document.querySelector('.js-count-particles');
            update = function() {
                if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
                    count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
                }
                requestAnimationFrame(update);
            };
            requestAnimationFrame(update);
        </script>    
    </body>
</html>