<html>
    <head>
        <link href="secret.css" rel="stylesheet" type="text/css"> 
    </head>
    <body background="nasa.png">
        <h2>Arithmetic Section</h2>
        <form id="mult" method="POST">
            <input type="text" id="expression">
            <button type="button" id="solveBtn">Solve</button>
        </form>
        <p id="result"></p>
        <p id="errorLbl" class="success"></p>
        <br>

        <h2>Differentiation Section</h2>
        <form id="dydx" method="POST">
            <a>Function</a>
            <input type="text" id="func"><br><br>
            <a>Evaluate at</a>
            <input type="text" id="dydx-at" size="3em">
            <br><br>
            <button type="button" id="diffBtn">Differentiate</button>
        </form>
        
        <p id="diff-res"></p>
        
        <h2>Here is a list of recognizable symbols</h2>
        <div class="available-funcs" border=1>
            <h3>tan(x),cos(x),sin(x),cot(x)</h3>
            <h3>^ - power</h3>
            <h3>ln(x)</h3>
            <h3>*</h3>
            <h3>+</h3>
            <h3>-</h3>
            <h3>Syntax: y = your function</h3>
            <h3>Note that server computes first-order derivative in one variable</h3>
        </div>
        <img class="imagery" src="https://i.stack.imgur.com/Ea2oJ.png"
             width=300px height=300px>
            
        <script src="secret.js" type="text/javascript"></script>
        
    </body> 
</html>